<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">songbook</h3>
</div>

<form ng-submit="add()">
  <div class="form-group">
    <label>Song:</label>
    <input type="text" ng-model="songName" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary">
  </div>
</form>

<table class="table">
  <thead>
    <th>Song</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <tr ng-repeat="song in songs | orderByPriority" ng-click="togglePlayed(song.$id)" ng-class="song.played ? 'alert-warning' : ''">
      <td>{{ song.name }}</td>
      <td>
        <a href="#/edit/{{ song.$id }}">Edit</a>
      </t>
      <td>
        <a href="#" ng-click="remove(song.$id)">Remove</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
